.navbar{
    margin-bottom: 0;
    padding: 1rem;
    color: theme-color(font-color, light);

    .nav-right{
        margin-right: 0;
        display: flex;
    }
}

.nav-items {    
    list-style-type: none;    
}

.top-bar {
    background-color: theme-color(primary, base);
}

.infect-list {
    padding-right: 1rem;
}

.list-container{
    padding-bottom: 1rem;
}

.list-group-item {
    text-decoration: none;
    color: theme-color(font-color, base);
    &:hover {
        text-decoration: none;
        color: theme-color(primary, base);
        cursor: pointer;         
    }  
}

.list-group-item.active {
    background-color: theme-color(primary, base);
    color: theme-color(font-color, light);
}


.list-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media screen and (max-width: 800px) {
    .infect-list {
        padding: 0;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .list-group, .list-header{
        text-align: center;
    }

    .navbar-brand{
        padding-bottom: 1rem;
    }
}