<ng-container *ngIf="selected$ | async as selected">
  <div class="card details-card" [@fadeInAnimation]="">
    <div class="card-body">     
      <div class="card-block">
        <label for="date">Date</label>
        <p id="date">{{selected.datetime | date:'long'}}</p>

        <label for="location">Location</label>
        <a href="{{selected.map}}" id="location" class="maps-link" *ngIf="selected.location" aria-label="Location">
          <div class="gps-coord">
            <div>Latitude: {{selected.location.lat}}</div>
            <div>Longitude: {{selected.location.lon}}</div>
          </div>          
        </a>     
      </div>
    </div>  
  </div>
</ng-container>
